.header{
    margin: 0 auto;
    width: 100%;
    height: 75px;
    border-bottom: 3px solid #3ab4db;
    background: #53cbf2;
}

.is-flex {
    display: flex;
}

.is-column {
	flex-direction: column;
}

.is-align-item-center {
    align-items: center;
}

.is-space-between {
    justify-content: space-between;
}

.mg-right-50 {
    margin-right: 50px;
}

.mg-right-10 {
    margin-right: 10px;
}

.dropdown-user {
    display: flex !important;
    justify-content: space-between;
    width: 150px;
    border-top: 1px solid #177c9c !important;
    border-radius: 25px !important; 
}

.dropdown-notification {
    right: -5px !important;
    left: auto !important;
}

.dropdown-menu {
    z-index: 2000;
}

.nav-menu {
    background: #222128;
    width: fit-content;
    height: -webkit-fill-available;
    padding-top: 30px;
    vertical-align: middle;
}

.nav-item {
    width: 200px;
    height: 55px;
    padding: 5px 10px;
    color: #dbdbdc;
    border-right: 3px solid #222128;
}

.nav-menu .nav-item:hover {
    color: white;
    background: black;
    border-color: black;
}

.nav-menu .nav-item.active {
    color: white;
    background: black;
    border-color: #53cbf2;
}

a:hover {
    text-decoration: none !important;
}

.fas {
    width: 20px;
}
