a {
    text-decoration: none;
}

.con {
    height: 100%;
}

.background-black {
    background: black;
}

.background-login {
    margin: 0 auto;
    width: 75%;
    background: url(../../../images/login/images/background-login.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.is-flex {
    display: flex;
}

.is-column {
    flex-direction: column;
}

.is-space-beetween {
    justify-content: space-between;
}

.content {
    display: inline-block;
    margin-left: 17%;
    margin-top: 9%;
}

.logo-nal {
    margin-top: 3px;
}

.input-login {
    width: 240px;
    height: 35px;
}

.form-login {
    width: 240px;
    margin-top: 50px;
    text-align: center;
}

.button-login {
    width: 170px;
    border-radius: 25px !important;
}

.forget-pass {
    position: absolute;
    font-size: 12px;
    color: #a6a4a4;
}

.forget-pass:hover {
    color: black;
    text-decoration: none;
}
