span.glyphicon.glyphicon-arrow-right {
    position:  absolute;
    top: 35px;
    left: 78.8%;
}
span.glyphicon.glyphicon-arrow-right.number-2 {
    position:  absolute;
    top: 110px;
    left: 78.8%;
}
span.glyphicon.glyphicon-arrow-right.number-3 {
    top: 185px;
    left: 78.8%;
    position:  absolute;
}
