span.glyphicon.glyphicon-arrow-right {
    position:  absolute;
    top: 184px;
    left: 390px;
}
span.glyphicon.glyphicon-arrow-right.number-2 {
    position:  absolute;
    top: 35px;
    left: 78.8%;
}
span.glyphicon.glyphicon-arrow-right.number-3 {
    top: 110px;
    left: 78.8%;
    position:  absolute;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: center;
    border-top: 1px solid #ddd;
}